{% extends "TiendaBundle::base.html.twig" %}

{% block body %}
<h2>Lista de Roles</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>&nbsp;</th>
        <th>&nbsp;</th>

        </tr>
    </thead>
    <tbody>
        {% for rol in roles %}
        <tr>
            <th>{{ rol.id }}</th>
            <th>{{ rol.nombre }}</th>
            <td><a href="editar/{{ rol.id }}">Editar</a></td>
            <td><a href="eliminar/{{ rol.id }}">Eliminar</a></td>

        </tr>
        {% endfor %}
    </tbody>
</table>
        
        <a href="registrar/" class="btn btn-default">Nuevo</a>
{% endblock %}