{% extends "TiendaBundle::base.html.twig" %}

{% block body %}
<h2>Lista de Categorias</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>&nbsp;</th>
        <th>&nbsp;</th>

        </tr>
    </thead>
    <tbody>
        {% for categoria in categorias %}
        <tr>
            <th>{{ categoria.id }}</th>
            <th>{{ categoria.nombre }}</th>
            <td><a href="editar/{{ categoria.id }}" class="btn btn-warning btn-sm">Editar</a></td>
            <td><a href="eliminar/{{ categoria.id }}" class="btn btn-danger btn-sm">Eliminar</a></td>

        </tr>
        {% endfor %}
    </tbody>
</table>
        
        <a href="registrar/" class="btn btn-default">Nuevo</a>
{% endblock %}